.form-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.form-body {
  width: 80%;
  margin: auto;
  height: 100%;
}
#apply-form {
  display: flex;
  flex-direction: column;
}
#application-submit-btn {
  font-weight: 600;
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
  color: white;
  cursor: pointer;
  padding: 11px 20%;
  border-radius: 100px;
  background: rgb(245, 239, 73);
  background: linear-gradient(
    90deg,
    rgba(245, 239, 73, 1) 0%,
    rgba(242, 212, 24, 1) 35%,
    rgba(255, 177, 0, 1) 100%
  );
}

/* form success page */

.success-page-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.success-page-body {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* justify-content: space-around; */
}
.user-name{
    color: rgb(245, 239, 73);
    text-transform: uppercase;
}
.symbol{
    color: rgb(245, 239, 73);
    font-size: 100px;
    /* margin: auto; */
}